* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(135deg, #111827, #2563eb);
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.subtitle {
    text-align: center;
    color: #d1d5db;
}


.form-box {
    background: rgba(255,255,255,0.12);
    padding: 20px;
    border-radius: 15px;
}


input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}


textarea {
    height: 90px;
}


button {
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/* Tombol Tambah */
.form-box button {
    width: 100%;
    background: #22c55e;
}



/* Card akun */
.card {
    background: rgba(255,255,255,0.12);
    padding: 18px;
    margin-top: 15px;
    border-radius: 15px;
}


.card h3 {
    color: #60a5fa;
}


.action {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}


/* SEMUA TOMBOL AKSI */
.action button {
    flex: 1;
    color: white !important;
}


/* WARNA TOMBOL */
.action button.detail {
    background-color: #2563eb !important;
}

.action button.copy {
    background-color: #7c3aed !important;
}

.action button.edit {
    background-color: #f59e0b !important;
}

.action button.delete {
    background-color: #dc2626 !important;
}



/* Popup */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    justify-content: center;
    align-items: center;
}


.popup-box {
    background: #1f2937;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
}


.popup-box button {
    width: 100%;
    background: #2563eb;
    margin-top: 10px;
}
