* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #111827, #2563eb);
    color: white;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #d1d5db;
}

.form-box {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

textarea {
    height: 90px;
}


button {
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


/* tombol tambah */
.form-box button {
    width: 100%;
    background: #22c55e;
}


/* kartu akun */
.card {
    background: rgba(255,255,255,0.12);
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
}


.card h3 {
    color: #60a5fa;
}


.action {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}


.action button {
    flex: 1;
    color: white !important;
}


/* warna tombol */
.action .detail {
    background: #3b82f6 !important;
}

.action .copy {
    background: #8b5cf6 !important;
}

.action .edit {
    background: #f59e0b !important;
}

.action .delete {
    background: #ef4444 !important;
}



/* popup edit/detail */

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    justify-content: center;
    align-items: center;
}


.popup-box {
    background: #1f2937;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
}


.popup-box button {
    width: 100%;
    background: #3b82f6;
    margin-top: 10px;
}
